/* ---------------------------------- *
 * ------------@font-face-------------*
 * ---------------------------------- */

/*
 * We have imported a couple of fonts that we downloaded online and
 * applied them to different parts of the code
 */
@font-face {
	font-family: font-kasan;
	src: url("../font/Chicago.otf");
}

@font-face {
	font-family: font-h2;
	src: url("../font/Blenda Script.otf");
}

@font-face {
	font-family: font-index;
	src: url("../font/Letters for Learners.ttf");
}

@font-face {
	font-family: font-a;
	src: url("../font/Courier Prime.ttf");
}

/* Remove all default margin and padding */
* {
	margin: 0;
	padding: 0;
}

/*
 * This is where we have the different settings for different screen sizes,
 * for example: phones, tablets, PCs
 */

/* ---------------------------------- *
 * -----------@media-screen------------*
 * ---------------------------------- */

/* Default is PC width, it's a grid of 3 rows and 2 columns, the former one being a bit smaller */
/* PC width */
@media screen {

	/*
	 * 3 rows: header, main and footer
	 * 2 columns for main: nav and content
	 */
	body {
		grid-template-rows: repeat(3, auto);
		grid-template-columns: 2fr 7fr;
	}

	/* 2 columns: header image and header text. Header text aligns with content */
	body>header {
		grid-template-rows: auto;
		grid-template-columns: 2fr 7fr;
		grid-row: 1;
		grid-column: 1/3;
	}

	/* Sticky nav bar, 1st column of main page */
	body>div {
		grid-row: 2;
		grid-column: 1;
		position: sticky;
		top: 0;
	}

	/* Main content, 2nd column of main page */
	body>main {
		grid-row: 2;
		grid-column: 2;
	}

	/* Full-width footer */
	body>footer {
		flex-direction: row;
		grid-row: 3;
		grid-column: 1/3;
	}

	/* Split main content in two columns */
	body>main>article {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Tablet width*/
@media screen and (max-width: 1300px) {

	/* Display main content in just one column */
	body>main>article {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* For phones, the logic here is the same as above, except that there is only one column on the grid and the elements are one under the other */
/* Phone width */
@media screen and (max-width: 850px) {

	/* Display everything in one column */
	body {
		grid-template-rows: repeat(4, auto);
		grid-template-columns: auto;
	}

	/* Orient header vertically */
	body>header {
		grid-template-rows: auto auto;
		grid-template-columns: auto;
		grid-row: 1;
		grid-column: 1;
	}

	/* Non-sticky nav bar */
	body>div {
		grid-row: 2;
		grid-column: 1;
		position: relative;
	}

	body>main {
		grid-row: 3;
		grid-column: 1;
	}

	/* Orient footer vertically */
	body>footer {
		flex-direction: column;
		grid-row: 4;
		grid-column: 1;
	}
}

/* ----------------- *
 * --- BODY>MAIN --- *
 * ----------------- */

/* A grid with uniform color and a minimum width */
body {
	background-color: rgb(202, 236, 244);
	display: grid;
	grid-gap: 1rem;
	align-items: start;
	min-width: 500px;
}

/* Font for all anchor elements */
a {
	font-family: font-a, monospace;
}

/* Display main content container as a vertical flexbox */
body>main {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}

/* Custom font for main content header */
body>main>header>h2 {
	font-family: font-h2, serif;
	font-size: 2.5rem;
}

/* Display main content in a grid */
body>main>article {
	display: grid;
	gap: 1.5rem
}

/* Styles for the paragraph on the index page */
body>main>p {
       font: bold 1.7rem font-index, serif;
       text-align: justify;
       padding: 1rem;
}


/* ----------------------- *
 * --- ARTICLE>SECTION --- *
 * ----------------------- */

/* All sections are contained in their own 'boxes' surrounded by a shadow */
body>main>article>section {
	padding: 1.2rem;
	background-color: #FFFFFF;
	border-radius: 30px;
	box-shadow: 0px 0px 5px 2px gray;
}

/* Section header font */
body>main>article>section>header>strong>* {
	font: bold 1.8rem 'Georgia', serif;
}

/* Links in section headers */
body>main>article>section>header>strong>a:link,
body>main>article>section>header>strong>a:visited {
	color: rgb(15, 21, 138);
	text-decoration: none;
}

/* Links in section headers when hovered */
body>main>article>section>header>strong>a:hover {
	color:rgb(128, 40, 6);
	text-decoration: underline;
}


/* --------------------------- *
 * --- SPECIALISED ARTICLE --- *
 * --------------------------- */

/* Specialised layout for articles for product pages */
body>main>article.single-product>section {
	scroll-margin-top: 7rem;
}

/* Specialized layout for articles with forms */
body>main>article.single-product,
body>main>article.single-page-form {
	grid-template-columns: repeat(1, 1fr);
}


/* ---------------------------------- *
 * --- ARTICLE.SINGLE-PRODUCT>NAV --- *
 * ---------------------------------- */

/* The product page's nav bar is also a flexbox and follows the user as they scroll down */
body>main>article.single-product>nav {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: white;
	box-shadow: 0px 0px 5px 2px gray;
	position: sticky;
	top: 0rem;
}

/* Modern look for the links in the product page's nav */
body>main>article.single-product>nav>a {
	padding: 1rem;
	border-radius: 25px;
	background-color: rgb(202, 236, 244);
}

body>main>article.single-product>nav>a:link,
body>main>article.single-product>nav>a:visited {
	color: #0000EE;
	font-size: 2rem;
	text-decoration: none;
}

/* Customization of the product page's header */
body>main>article.single-product>section>header>h3 {
	padding-bottom: 1rem;
	text-decoration: solid;
	font: 2rem "Lucida Console", "Courier New", monospace;
}


/* ---------------------------- *
 * --- TABLE, TH, TD, THEAD --- *
 * ---------------------------- */

/* Customazation for the tables, and all other elements within them */
table, th, td {
	border: 1px solid;
	vertical-align: middle;
	font-size: 1rem;
	margin: 2rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead {
	font-size: 1.25rem;
}

td {
	padding: 1rem;
	text-align: center;
}

/* ------------- *
 * --- ASIDE --- *
 * ------------- */

/* Floating aside classes. The floating is cleared at each section */
aside.left {
	float: left;
}

aside.right {
	float: right;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

article>section::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

/* ------------------- *
 * --- BODY>HEADER --- *
 * ------------------- */

/* The header is a grid of 1 row and 2 columns and its background is a gradient image */
body>header {
	display: grid;
	grid-gap: 1rem;
	align-items: center;
	justify-items: center;
	padding: 1rem;
	background-image: linear-gradient(to bottom right, rgb(57, 126, 196), rgb(153, 204, 255));
}

/* Header's responsive image */
body>header>a>picture>img {
	margin: 1rem;
	width: 100%;
	height: auto;
}

/* The header's color is a gradient */
body>header>h1 {
	justify-self: center;
	font: bold 3.5rem font-kasan, serif;
	background: -webkit-linear-gradient(rgb(201, 137, 42), rgb(8, 1, 20));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* -------------------- *
 * --- BODY>DIV>NAV --- *
 * -------------------- */

/* The main nav bar is a vertical flexbox */
body>div>nav {
	margin: 1rem;
	padding: 1rem;
	display:flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font: 1.2rem "Lucida Console", "Courier New", monospace;
}

/* Modernising the looks of the links in main nav bar */
body>div>nav>div {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	white-space: nowrap;
	border: 1rem solid white;
	background-color: white;
}

/* ------------------ *
 * --- A, P, SPAN --- *
 * ------------------ */

/* Class for anchor elemnts that link back to another page. They resemble return buttons */
a.return {
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	background-color: rgb(250, 187, 166);
	text-decoration: none;
}

a.return::before {
	content: '<';
}

/*
 * Each item description (short and extended) has different style, as do
 * the product code and price tags.
 */
p.short-description {
	font: 1.5rem 'Times New Roman', serif;
}

p.extended-description {
	padding: 0.5rem;
	font: 1.0rem 'Times New Roman', serif;
	text-align: justify;
}

p#form-result-success{
	display:none;
}

p#form-result-failed{
	display:none;
}

span.product-code {
	font: italic 1rem 'Times New Roman', serif;
}

span.price {
	padding-bottom: 1rem;
	font: 3.5rem 'Times New Roman', serif;
}

/* The review section is a vertical flexbox to have the reviews one under the other */
section#reviews article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* ----------- *
 * --- IMG --- *
 * ----------- */

/* Different dimensions and padding for different image classes */
img.product-preview {
	padding: 0 1.5rem 1.5rem 0;
	max-width: 9rem;
	max-height: 12rem;
	display: block;
}

img.product-image {
	width: auto;
	height: 15rem;
}

img.product-image:hover {
	width: auto;
	height: 40rem;
}

img.rating {
	max-width: 9rem;
	height: auto;
}

img.img-bio {
	padding: 1.5rem;
	width: 7.5rem;
	border-radius: 50%;
}

img.type-image {
	padding: 0 1rem;
	width: 10rem;
	height: 10rem;
}

/* --------------- *
 * --- DETAILS --- *
 * --------------- */

/* Customization of summary and ul elements inside details fields, this is used in product-categories */
details>summary {
	padding: 1rem;
	font: normal 1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details>ul {
	padding: 0;
	display: inline-block;
	font: normal 1rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	list-style-type: circle;
	list-style-position: inside;
}

/* ------------ *
 * --- FORM --- *
 * ------------ */

/* The form is inside a box of orange color with gray shadow */
form {
	padding: 1.5rem;
	border-radius: 30px;
	box-shadow: 0px 0px 5px 2px gray;
	background-color: rgb(250, 187, 116);
}

/* Additionally, each fieldset has yellow background */
form fieldset {
	margin-bottom: 1.5rem;
	padding: 0.75rem 1.25rem;
	background-color: rgb(253, 229, 120);
}

/* Font for legend, label, input and select elements */
form legend {
	font: bold 1.5rem Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(47, 51, 54);
}

form label,
form input,
form select,
form textarea {
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(47, 51, 54);
}

form input,
form select,
form textarea {
	font-size: 0.7rem;
}

form label {
	font-size: 0.8rem;
}

/* Display all form elements one below the other and adjust their margin and padding */
form input,
form select,
form textarea {
	display: block;
	margin-top: 0.3rem;
	margin-bottom: 1rem;
	padding: 0.75rem 1.25rem;
	width: 100%;
	border-width: 0.25rem;
	box-sizing: border-box;
	border-radius: 0.7rem;
}

/* Form elements change color on focus, when we click on it to write */
form input:focus,
form select:focus,
form textarea:focus {
	background-color: rgb(202, 236, 244);
}

/* Required form elements change color when invalid */
form input:required:not(:placeholder-shown):not(:focus):invalid,
form select:required:not(:placeholder-shown):not(:focus):invalid,
form textarea:required:not(:placeholder-shown):not(:focus):invalid {
	border-color: red;
}

/* Display the submit and reset buttons next to each other */
form div {
	display: flex;
	gap: 2rem;
	justify-content: space-evenly;
}

/* Form button styles */
form input[type=submit],
form input[type=reset] {
	padding: 1rem 2rem;
	display: inline-block;
	color: white;
	background-color: #33bcdf;
	border-radius: 10px;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	cursor: pointer;
	max-width: 10rem;
}

/* Select with autocomplete dropdown */
form input[list] {
	width: 100%;
	height: 1.5rem;
	padding: 1.25rem;
}

/* Grid with a dynamic number of rows with two columns */
form fieldset fieldset {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1rem;
	justify-content: start;
}

/* The elements of the form never leave outside its boundaries */
form fieldset fieldset input, form fieldset fieldset select {
	margin: 0;
	padding: 0;
	width: fit-content;
}

/* -------------- *
 * --- FOOTER --- *
 * -------------- */

/* The footer is in its own flex box in a row wrap */
footer {
	padding: 2.5rem;
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	align-items: center;
	justify-content: space-evenly;
	/* This code is used to add a lower opacity image that covers the entire footer and is on a fixed position */
	background: linear-gradient(to bottom, rgba(62, 77, 92, 0.83), rgba(116, 169, 223, 0.64));
	background-size: cover;
}

/* Specify a standard color and font for the entire footer */
footer>* {
	display: inline-block;
	color: aliceblue;
	font: 1rem "Lucida Console", "Courier New", monospace;
}

/* Positioning and sizing of the logo */
footer>a>img {
	height: auto;
	width: 7rem;
}

/* The address is also self-contained in its own flexbox so that all the lines can be under one another */
footer>address {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	gap: 0.7rem;
}

/* Address elements' font */
footer>address>p {
	font-style: italic;
}

/* Anchor elements' style */
footer>address a:link,
footer>address a:visited {
	color: navy;
	text-decoration: none;
}

/* Change color to red when the user hovers over it */
footer>address a:hover,
footer>address a:active {
	color: red;
	text-decoration: underline;
}

/* The social media icons are all placed in a grid of 2 rows */
footer>section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 1rem;
	justify-items: center;
	align-items: center;
}

/* Text takes up all columns */
footer>section>p {
	grid-row: 1;
	grid-column: 1 / 5;
}

/* Text takes up all columns */
footer>section>a>img {
	width: 3rem;
}

/* This id is used exclusively to link us back to the top of a page */
footer>a#top {
	text-decoration: none;
	font-size: 1.2rem;
}

